<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Login page</title>

    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@2.22.0/dist/bootstrap-vue.css"
    />

    <!-- Required scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

    
    <!-- Load polyfills to support older browsers -->
    <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    
    <!-- Required scripts -->
    <script src="https://unpkg.com/bootstrap-vue@2.22.0/dist/bootstrap-vue.js"></script>
  </head>
  <body>
    <!-- Our application root element -->
    <div id="app">
      <b-container v-if="!is_authenticated">
        <b-jumbotron header="Please Login">
          <!-- <p>For more information visit our website</p>
          <b-btn variant="primary" href="https://bootstrap-vue.org/">More Info</b-btn> -->
        </b-jumbotron>

        <b-form action="{{url_for('auth.login')}}" method="POST">
          <b-form-group
            horizontal
            :label-cols="4"
            label="Account details"
          >
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <b-form-input  name="email" type="email" placeholder="Enter your email"></b-form-input>
              <b-form-input class="mb-2 mt-2" name="password" type="password" placeholder="Enter your password"></b-form-input>
              <b-btn variant="primary" type="submit">Login</b-btn>
              <b-btn variant="warning" type="button" href="{{url_for('auth.signup')}}">Go to signup page</b-btn>
          </b-form-group>
        </b-form>

        

      </b-container>

      <b-container v-else>
        <b-jumbotron header="Already logged in!">
          <p>Do you want to log out?</p>
        </b-jumbotron>
        <b-form action="{{url_for('auth.logout')}}" method="GET">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <b-btn variant="primary" type="submit">Logout</b-btn>
        </b-form>
      </b-container>
    </div>

    <!-- Start running your app -->
    <script>
      window.app = new Vue({
        el: '#app',
        data: function() {
          let x = "{{authenticated}}";
          let auth = x === "True" ? true : false;
          return {
            is_authenticated: auth
          }
        }
      })
    </script>
  </body>
</html>