Flask==3.0.0
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-Session
bcrypt
Flask-WTF
is-safe-url
Werkzeug
Flask-PluginKit
pandas
numpy
scikit-learn
scipy
Pillow
gunicorn
git+https://github.com/cinemagoer/cinemagoer
pytest
requests
legacy-cgi

